Checks: >
  *,
  -modernize-*,
  -cppcoreguidelines-*,
  -readability-implicit-bool-conversion,
  -readability-uppercase-literal-suffix,
  -fuchsia-*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*
WarningsAsErrors: '*'
